
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--/*@thymesVar id="recipes" type="guru.springframework.domain.Recipe"*/-->
    <title>Recipe List</title>
</head>
<body>
<h1>Recipe list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Servings</th>
        <th>Directions</th>
        <th>Difficulty</th>
        <th>Image</th>
        <th>Notes</th>
        <th>Ingredients</th>
        <th>Categories</th>
    </tr>

    <tr th:each="object: ${recipes}"> <!-- for(Recipe objeto : recipes) -->
        <td th:text="${object.id}"></td>
       <td th:text="${object.description}"></td>


    </tr>

</table>
</body>
</html>